
@{
    Layout = "~/Views/Shared/ManageLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/McgStatic/McgCss.css" rel="stylesheet" />
</head>
<body>
    <div style="font-size:30px; display:grid;place-items:center;color:red;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;height:99%;">
     欢迎使用本系统！
    </div>
</body>
</html>
